@model TheBestTodoApp2020.Models.AddAnotherTodoViewModel

@{
    ViewData["Title"] = "Add Another Todo?";
}

<h1>Add Another Todo?</h1>
<p>Adds another todo to your todo list.</p>

<a asp-action="CreateTodo" asp-route-todoListId=@Model.TodoListId class="btn btn-success">Yes</a>
<a asp-action="EditTodoList" asp-route-todoListId=@Model.TodoListId class="btn btn-secondary">No</a>

