@model TheBestTodoApp2020.Models.CreateTodoListViewModel
@using Library.Models

@{
    ViewData["Title"] = "Create Todo List";
}

<h1>Create Todo List</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTodoList">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Enter title for this todo list (example: Packing for trip)</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label">Choose a category for this list (optional):</label>
                <select asp-for="CategoryName" class="form-control">
                    <option value="">-none-</option>
                    @foreach (var item in Model.AllCategories)
                    {
                        <option value=@item.Name.ToString()>@item.Name</option>
                    }
                </select>
            </div>
            <!--<div class="form-group form-check">-->
                @*<label class="form-check-label">
                        <input class="form-check-input" asp-for="AllDone" /> @Html.DisplayNameFor(model => model.AllDone)
                    </label>*@
            <!--</div>-->
            <div class="form-group">
                <input type="submit" value="Create Todo's..." class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back To List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
