
@{
    ViewData["Title"] = "No Logged In User";
}

<h1>No Logged In User</h1>

<p>No logged in user. Please login.</p>

<a class="btn btn-success" asp-action="Login" asp-controller="User">Login</a>

