
@{
    ViewData["Title"] = "Category Already Exists!";
}

<h1>Category Already Exists!</h1>
<p>The category @ViewData["Category"] already exists.</p>
<a class="btn btn-success" asp-action="CreateCategory" asp-controller="Category">Create Another Category</a>
<br />
<br />
<a asp-action="Index" asp-controller="Category">Return To Categories</a>

