@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">'A Million Todo's'</h1>
    <hr />
    <h6>An Application For Handling All Of Your Todo's</h6>
    <br />
    <br />
    <p style="color: green;">Security updates completed. All passwords are now stored with high security hashing.
    <br />More updates are successively being made... App functionality is 100% as far as implementations go.
    <br />So feel free to use the app, as much as you want!
    <br />Please send any feedback regarding functionality:
    <br />christian.romedahl@gmail.com - Much appreciated!</p>

    <a class="btn-lg btn-success" asp-area="" asp-controller="User" asp-action="Login">Login</a>
    <br />
    <br />
    <br />
    @*<p><a href="#">*** Donate to this project.***</a></p>
    <br />*@
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
