@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">'A Million Todo's'</h1>
    <hr />
    <h6>An Application For Handling All Of Your Todo's</h6>
    <br />
    <br />
    <a class="btn-lg btn-success" asp-area="" asp-controller="User" asp-action="Login">Login</a>
    <br />
    <br />
    <br />
    @*<p><a href="#">*** Donate to this project.***</a></p>
    <br />*@
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
