@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">✋ A Million Todo's ✔</h1>
    <hr />
    <h6>An Application For Handling All Of Your Todo's</h6>
    <hr />
    <p style="color: green;">
        Feel free to tryout and use the application!
        <br />Updates are successively being made.
        <br />
        <br />***
        <br />
        <br />Please send any feedback to:
        <br /><a href="mailto:christian.romedahl@gmail.com">E-mail</a> - Much appreciated!
    </p>
    <a style="width: 175px;" class="btn btn-success btn-lg" asp-area="" asp-controller="User" asp-action="Login">Login</a>
</div>
