
@{
    ViewData["Title"] = "Logged out";
}

<h1>No user to log out</h1>
<p>There was no logged in user.<br />All users are already logged out.</p>
<a asp-action="Index" asp-controller="Home">Back to Home</a>

