
@{
    ViewData["Title"] = "Password Confirmation Error";
}

<h1>Password Confirmation Error</h1>
<p>Your password confirmation didn't match your password.</p>
<a class="btn btn-success" asp-action="CreateUser" asp-controller="User">Back To User Account Creation</a>