
@{
    ViewData["Title"] = "User Name Taken!";
}

<h1>User Name Taken!</h1>
<p>The user name @ViewData["takenUserName"] is already taken. Please use another one.</p>
<a asp-action="CreateUser">Return To User Account Creation</a>

