
@{
    ViewData["Title"] = "User name taken!";
}

<h1>The user name @ViewData["takenUserName"] is already taken! Please use another one.</h1>
<a asp-action="CreateUser">Return to user creation form</a>

